<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Eat My Sweet</title>
    <script src="/static/js/client.js"></script>
  </head>
  <body>
    <h1>Bonjour à toi <%= data.nom %></h1>
  </body>
</html>