<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://img.icons8.com/emoji/48/000000/candy-emoji.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Eat My Sweet</title>
    <style>
      html {
        font-family: sans-serif;
      }
      svg {
        display: inline-block;
      }
      table {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Eat My Sweet</h1>
    <h3> Serveur socket cible : <%= socketServer %></h3>
    <p>
      A basic game made with constraints for distributed systems's course at ESIR :
      <ul>
        <li>Realtime multiplayer</li>
        <li>High availability (SPOF elimination, redundancy, failure detection)</li>
        <li>Basic graphical interface</li>
      </ul>
    </p>
    <div id="joinForm">
      <input id="nickname" type="text" placeholder="Nickname">
      <button onclick="joinGame()">Join game</button>
      <button onclick="clearCookies()">Clear cookies</button>
    </div>
    <svg id="cont" height="600" width="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
    <table id="scoreboard"></table>
  </body>
  <footer>
    <script>var websocketURI='<%= socketServer %>';</script>
    <script src="/static/js/cookieHelper.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/eventListeners.js"></script>
    <script src="/static/js/client.js"></script>
  </footer>
</html>